@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
.card{
    background-color: #f4f5f7;
    font-family: Abel;
}
.card-img{

}
.card-header{
    text-align: left;
    background-color: #f4f5f7;
    padding-left:10px;
    padding-top:10px;
}
.card-title{
    font-size:24px;
    color:#3A3A3A;
}
.card-text{
    font-size:16px;
    color:#969696;
}
.card-price{
    font-size:20px;
    color:#686969;
}