.mt-auto {
background-color: #e6e6e6;
width: 100%;
color: #3A3A3A;
height: 165px;
}
.text-uppercase {
    margin: 15px;
}
.heagle-content {
    margin-left: 15px;
}
.heagle-logo {
    margin-bottom: 0px;
}
a.footer-link:hover{
    color: rgb(0, 204, 255);
}
.list-unstyled{
    margin: 30px;
}
.footer-link{
    text-decoration: none;
    color: #969696;
}

